html{
  scroll-behavior: smooth;
}

body{
  font-family: Georgia;
}

.uppernav ul li{
  float:right;
  margin-left: 0.5em;
  margin-right: 1em;
}
.nav-item:hover{
  background-color: #0297e0;
}
  .carousel-item{ 
    height: 450px;
  }
  
  .carousel-image-1 {
    background: url('img/main_1562138156.jpg');
    background-size: 100% 100%;
    width: 100%;
  }
  .carousel-image-2 {
    background: url('img/main_1555075649.jpg');
    background-size: 100% 100%;
    width: 100%;
  }
  
  
  .carousel-image-3 {
    background: url('img/main_1553781877.jpg');
    background-size: 100% 100%;
    width: 100%;
  }
  .carousel-caption{
      height: 300px;
      font-size: 30px;
      color: rgba(83, 79, 79, 0.719);
  }
  .caption-image-1 {
    height: 50px;
  }
  /*cards section start*/
  .content {
    position: relative;
    width: 110%;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: relative;
    height: 100%;
    width: 50%;
    opacity: 0;
    transition: all 0.5s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 3em;
    padding-right: 1em;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    background: linear-gradient(to right, #2193b0, #205a9c);
    opacity: 1;
  }
  
  .content-title{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    margin-top:5em;
    text-transform: uppercase;
  }
  .content-details p{
    color: #fff;
    font-size: 1em;
  }
  .content-text{
    text-align: justify;
    width: 85%;
  }
  .fadeIn-bottom{
    top: 80%;
  }
  
  .card{
    width: 23em;
    height: 35em; 
    background-color: whitesmoke; 
    border: none;
  } 
  /*cards section start*/
  /*home page animation home setting benchmark section */
.centreOne {
  position: relative;
  background-color: #f1f1f1;
  width: 24%;
  max-width: 322px;
  margin: 0 auto;
}
.petals {
  position: absolute;
  top: 0;
  width: 59.9378%;
  max-width: 193px;
  height: auto;
}
#benchLeft {
  left: 0;
}
#benchRight {
  right: 0;
}
#benchOne {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  max-width: 322px;
  /*transform:translate(-50%, -50%);*/
}
#bemarkLeft {
  position: absolute;
  top: 80px;
  left: 0;
}
#bemarkRight {
  position: absolute;
  top: 80px;
  right: 0;
}
/*animation home setting benchmark section end*/
.mainAnimpartH {
  background-color: #F1F1F1;
  position: relative;
  text-align: center;
  padding: 80px 0 80px 0;
}
.bemarkColFirst {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.bemarkColFirst li {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 5px 5px 5px rgba(219, 219, 219, 0.9);
  vertical-align: middle;
  margin: 10px 10px 10px 10px;
  position: relative;
}
.bemarkColFirst li p {
  font-size: 16px;
  color: #0060af;
  padding: 35px 34px 0px;
  line-height: 20px;
}
.bemarkColFirst li h3 {
  text-align: center;
  color: #0060af;
  font-size: 36px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.centerimgDesk {
  position: relative;
  display: inline-block;
  max-width: 322px;
  margin: 0 auto;
}
.centerimgDesk img {
  width: 100%;
  height: auto;
}
.containerBench {
  max-width: 1260px;
  position: relative;
  width: 100%;
  /* max-width: 1180px; */
  margin: 0 auto;
}
.centerimgMob {
  display: none;
}
.animsecFirstH {
  width: 240px;
  height: 240px;
  background-color: #0297e0;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.animsecFirstH h3 {
  text-align: center;
  color: #fff;
  font-size: 36px;
  padding-top: 30px;
}
.animsecSechondH {
  width: 240px;
  height: 240px;
  background-color: #0297e0;
  border-radius: 50%;
  display: inline-block;
}
.animsecSechondH h3 {
  text-align: center;
  color: #fff;
  font-size: 36px;
  padding-top: 30px;
}
.animationiconimg {
  text-align: center;
  padding-top: 30px;
}
.animationparsecH {
  text-align: center;
}
.animationparsecH h2 {
  position: relative;
  background-color: #ffffff;
  display: inline-block;
  font-family: 'AvenirLTStdLight', Arial, Helvetica, sans-serif;
  font-size: 36px;
  color: #0297e0;
  text-align: center;
  text-transform: capitalize;
  padding: 0px 30px 15px 30px;
  z-index: 99;
  /*border:1px solid white; 
        border-bottom-left-radius: 15px;  border-bottom-right-radius: 15px; */
  background-image: url(../images/left-curved.jpg), url(../images/right-cruved.jpg);
  background-position: center left, center right;
  background-repeat: no-repeat, no-repeat;
}
/*applications section css*/
.grid-container {
  display: grid;
  grid-template-columns: 25em 25em 25em;
  margin-left:4em;
  margin-right:4em;
}
.grid-item {
  border: none;
  margin:0.5em;
  font-size: 30px;
  width:13em;
  height:6em;
}

.bottomright{
  float:right;
  height:5em;
  padding:1em;
}
/*Product carousel*/
.blog .carousel-indicators {
	right: 505;
	/* top: auto; */
    bottom: -10px;
margin-right: -19px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
left: 50px;
}

.blog .carousel-indicators .active {
background: #707070;
}

.footer {
  margin: 0em;
  width: 100%;
  position: relative;
  background-color: rgb(49, 47, 47);
}

.footer .container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
}

ul {
  list-style-type: none;
}

.footer .container .first {
  padding: 1rem;
  color: rgb(255, 255, 255);
}

.footer .container .first h3 {
  padding-left: 2.5rem;
}

.footer .container .first ul li {
  padding-bottom: 0.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
}

.last-div {
  background-color: black;
  display: grid;
  margin: auto;
  color: white;
}

.last-div .finally {
  padding-left: 10em;
  color: white;
  position: relative;
  width: 80%;
  text-align: justify;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.last-div .finally .copyright p{
  color: white;
  font-weight:initial;
  padding-top: 1rem;
}
.hrtag{
  padding-bottom: 2rem;
}

.last-div .finally h3{
  color: #838b94;
}
.last-div .finally p{
  color:#686666da;
}



@media only screen and (max-width: 1460px) {
  .footer .container {
      width: 85%;
  }
}

@media only screen and (max-width: 1290px) {
  .footer .container {
      width: 90%;
  }
  .last-div .finally{
      width:95%;
      padding-left: 1em;
  }
}

@media only screen and (max-width: 1250px) {
  .footer .container {
      width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .footer .container {
      grid-template-columns: repeat(1, 1fr);
  }
}

#page-header-contact {
  height: 200px;
  background: url('../img/map.jpg');
  background-position: 0 -90px;
  background-attachment: scroll;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}
#page-header-piping {
  height: 300px;
  background: url('../img/pipingguidelines.jpg');
  background-size: cover;
  background-position: 100% 100%;
}
.fa_with_bg {
  background-color: rgb(7, 135, 194);
  color: #eee;
}
.curv_blur {
  background: rgb(7, 135, 194);
  display: block;
  width: 80%;
  margin: auto;
  height: 16em;
  border-radius: 125px 0 0 125px;
}

.curv_blur .c1image {
  display: block;
  float: left;
}

.crc-rightinfo {
  color: #fff;
  overflow: hidden;
  padding: 2em 6em 3em 6em;
  text-align: justify;
  text-align: left;
}

.crc-rightinfo p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0em;
}

.crc-rightinfo h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.2em;
}

.right_border {
  border-radius: 0px 125px 125px 0px;
}

.right_border .c1image {
  float: right;
}

@media only screen and (max-width: 1270px){
  .curv_blur{
      width: 90% !important;
      /* border-radius: 0em !important; */
      height: auto;
  }
}
@media only screen and (max-width: 1000px){
  .curv_blur{
      width: 100% !important;
  }
  .curv_blur.left_border .c1image,
  .curv_blur.right_border .c1image{
      float: none;
  }
  .curv_blur.left_border,
  .curv_blur.right_border{
      border-radius: 0px;
  }
  .c1image{
      padding-top: 20px;
      text-align: center;
      vertical-align: middle;
  }
  .crc-rightinfo{
      padding: 1.5em 2.5em;
  }
  .curv_blur.left_border .c1image{
      float: none;
      /* padding-bottom: 10px; */
  }

}

/*----------Headings-----------*/
h1 {
  position: relative; /* This is important */
  margin: 1.5em 0 .9em;
  color: rgb(12, 131, 243);
  font-family: Georgia;
  line-height: 1.2;
  text-align: center;
  overflow: hidden; /* This is important */
}

/* Create two pseudo-elements */
h1:before, h1:after {
  position: absolute;
  top: 50%;
  content: '';
  width: 50%;
  height: 2px;
  display: inline-block;
  background: #303030;
}

/* Adjust the "14px" value to change the text's left padding */
h1:before {
  margin-left: calc(-50% - 14px);
}

/* Adjust the "14px" value to change the text's right padding */
h1:after {
  margin-left: 14px;
}

@media only screen and (max-width: 1000px) {
  .heading{
      margin-left: 5em;
  }
}

/*------------Milestones------------*/

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}


/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  padding: 20px 0;
}

.timeline .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.timeline h1 {
  font-size: 2.5rem;
}

.timeline h2 {
  font-size: 1.3rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: black;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: rgb(12, 131, 243);
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: white;
  background: linear-gradient(to right, #2193b0, #205a9c);;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto; 
  }
  
  .timeline ol {
    padding: 0;
    transform: none !important;
  }
  
  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }
  
  .timeline ol li:first-child {
    margin-top: 25px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }
  
  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }
  
  .timeline ol li div {
    position: static;
  }
  
  .timeline ol li:nth-child(odd) div {
    transform: none;
  }
  
  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }
  
  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}

/*---------WORKS WITH US------------*/
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  list-style: none;
}

.flex-item {
  background: white;
  width: 200px;
  height: 400px;
  padding: 1em;
  color: rgb(12, 131, 243);
  font-size: 1em;
}
.flex-item p{
    color: black;
}

.prod_det_banner {
  text-align: center;
}

.prod_det_banner img {
  display: inline-block;
  width: 100%;
  max-width: 255px;
  height: auto;
}


/*	gallery */

.gallery-title{
    font-size: 36px;
    color: #3F6184;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.filter-button{
    font-size: 18px;
    border: 2px solid #3F6184;
	  padding:5px 10px;
    text-align: center;
    color: #3F6184;
    margin-bottom: 30px;
	  background:transparent;
}
.filter-button:hover,
.filter-button:focus,
.filter-button.active{
    color: #ffffff;
    background-color:#3F6184;
	  outline:none;
}
.gallery_product{
  margin-left: 4em;
	padding:0;
	position:relative;
}
.gallery_product .img-info{
	  position: absolute;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
	  overflow:hidden;
	  color:#fff;
	  top:0;
	  display:none;
	   -webkit-transition: 2s;
    transition: 2s;
}
.gallery_product .img-info button{
  position: absolute;
  left:5em;
  top:8em;
  color:white;
}
.gallery_product:hover .img-info{
	  display:block;
   -webkit-transition: 2s;
    transition: 2s;
}

/*	end gallery */


.box{
  max-width: 1000px;
  display: block;
  margin: 50px auto;
  
}

.collapsiblecontent{
  background-color: white;
  overflow: hidden;
  max-height: 0;
  transition: max-height .6s ease-out;
}

.collapsiblecontent p {
  text-align: justify;
  padding: 10px 20px;
}

.title {
  text-align: center;
  font-size: 20px;
  padding: 10px 15px;
  color: white;
  background-color: rgb(12, 131, 243);
}

.title:hover{
  cursor: pointer;
  background: rgb(1, 85, 163);
}

.title:not(.not-border){
  border-top: solid white 1px;
}

.opened + .collapsiblecontent{
  max-height: 200px;
  transition: max-height 1.2s ease-out;
}


.arrow{
  position: absolute;
  padding: 0;
  margin: 0;
  border-top: 10px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
  transition: .6s ease-in;
}

.opened .arrow{
  transform: rotate(90deg) ;
}
